# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
venv/
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Alembic cache
alembic/__pycache__/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Docker
*.pid

# Secrets
.env
.env

# Misc
*.sqlite3